/*
	Ex Machina by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

#logo {
    position: absolute;
    left: -10px;
    top: 2em;
    padding: 3em 8em;
    background: url(../images/logo_makoto_med.png) no-repeat center;
    background-size: 100%;
}

.button {
    margin-left: 25%;
}
